body{
 background-image: url(basbackground.jpg);
 background-size:contain;
 padding: 20px;
 font-family: 'Dancing Script', cursive;
 font-family: 'Lobster', cursive;
 font-family: 'Orbitron', sans-serif;
}

p{
    color: black;
    font-size: x-large;
    background-color: aliceblue;
    text-align: center;
}

#back{
   position: fixed;
   right: 40px;
   top: 390px;
}