#myp {
    color: white;
}

#hi {
    margin-left: 16%;
    font-family: 'Titan One', cursive;
    font-family: 'Kosugi Maru', sans-serif;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 25px;


}

#title {
    font-size: 30px;

}

#img {
    position: absolute;
    right: 0px;
    top: 0px;


}