#head {
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    
}

/* div {
    border: 2px solid;
    border-radius: 25px; 
} */

.head_box {
    margin: auto;
    /* text-align: center; */
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;

}

.head_box ul {
    display: flex;
    height: 40px;
    list-style: none;
    justify-content: center;
    flex-direction: row;

}

.head_box ul li {
    height: 60px;
    display: inline;
}

#nav a {
    font-size:xx-large;
    font-weight :1000;
    line-height: 60px;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em;
    text-decoration: none;
    padding: 30px 30px;
}

#nav a:hover {
    background-image: url(../media/Mark.gif);
    background-size: 100px 100px;
}